### The objective of this codes is to develop a machine learning model to predict what a tourist will spend when visiting Tanzania

In [4]:
#importing the required modules

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
#from google.colab import files
#upload = files.upload()

In [6]:
#reading the required dataset

train_data = pd.read_csv('Train.csv')
test_data = pd.read_csv('Test.csv')
submission = pd.read_csv('SampleSubmission.csv')

In [7]:
#checking the first five rows of the training data

train_data.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,13.0,0.0,Cash,No,Friendly People,674602.5
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,14.0,7.0,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,1.0,31.0,Cash,No,Excellent Experience,3315000.0
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,11.0,0.0,Cash,Yes,Friendly People,7790250.0
4,tour_1004,CHINA,1-24,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,7.0,4.0,Cash,Yes,No comments,1657500.0

In [8]:
#checking the first five rows of the testing data

test_data.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing
0,tour_1,AUSTRALIA,45-64,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,Yes,Yes,10,3,Cash,Yes,Wildlife
1,tour_100,SOUTH AFRICA,25-44,Friends/Relatives,0.0,4.0,Business,Wildlife tourism,Tanzania Mission Abroad,Package Tour,...,No,No,No,No,No,13,0,Cash,No,"Wonderful Country, Landscape, Nature"
2,tour_1001,GERMANY,25-44,Friends/Relatives,3.0,0.0,Leisure and Holidays,Beach tourism,"Friends, relatives",Independent,...,No,No,No,No,No,7,14,Cash,No,No comments
3,tour_1006,CANADA,24-Jan,Friends/Relatives,2.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,No,0,4,Cash,Yes,Friendly People
4,tour_1009,UNITED KINGDOM,45-64,Friends/Relatives,2.0,2.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Package Tour,...,Yes,Yes,No,No,No,10,0,Cash,Yes,Friendly People

In [9]:
#checking the columns in the training dataset

train_data.columns

Index(['ID', 'country', 'age_group', 'travel_with', 'total_female',
       'total_male', 'purpose', 'main_activity', 'info_source',
       'tour_arrangement', 'package_transport_int', 'package_accomodation',
       'package_food', 'package_transport_tz', 'package_sightseeing',
       'package_guided_tour', 'package_insurance', 'night_mainland',
       'night_zanzibar', 'payment_mode', 'first_trip_tz', 'most_impressing',
       'total_cost'],
      dtype='object')

In [10]:
train_data['age_group'].unique()

array(['45-64', '25-44', '1-24', '65+'], dtype=object)

In [11]:
test_data['age_group'].unique()

array(['45-64', '25-44', '24-Jan', '65+'], dtype=object)

In [12]:
test_data['age_group'].value_counts()

25-44     866
45-64     447
24-Jan    202
65+        86
Name: age_group, dtype: int64

In [13]:
#checking the columns in the testing dataset

test_data.columns

Index(['ID', 'country', 'age_group', 'travel_with', 'total_female',
       'total_male', 'purpose', 'main_activity', 'info_source',
       'tour_arrangement', 'package_transport_int', 'package_accomodation',
       'package_food', 'package_transport_tz', 'package_sightseeing',
       'package_guided_tour', 'package_insurance', 'night_mainland',
       'night_zanzibar', 'payment_mode', 'first_trip_tz', 'most_impressing'],
      dtype='object')

In [14]:
#checking the information of the training dataset

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     4809 non-null   object
 1   country                4809 non-null   object
 2   age_group              4809 non-null   object
 3   travel_with            3695 non-null   object
 4   total_female           4806 non-null   float64
 5   total_male             4804 non-null   float64
 6   purpose                4809 non-null   object
 7   main_activity          4809 non-null   object
 8   info_source            4809 non-null   object
 9   tour_arrangement       4809 non-null   object
 10  package_transport_int  4809 non-null   object
 11  package_accomodation   4809 non-null   object
 12  package_food           4809 non-null   object
 13  package_transport_tz   4809 non-null   object
 14  package_sightseeing    4809 non-null   object
 15  package_guided_tour    4809 non-null   object
 16  package_insurance      4809 non-null   object
 17  night_mainland         4809 non-null   float64
 18  night_zanzibar         4809 non-null   float64
 19  payment_mode           4809 non-null   object
 20  first_trip_tz          4809 non-null   object
 21  most_impressing        4496 non-null   object
 22  total_cost             4809 non-null   float64
dtypes: float64(5), object(18)
memory usage: 864.2+ KB

In [15]:
#checking the information of the testing dataset

test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1601 non-null   object
 1   country                1601 non-null   object
 2   age_group              1601 non-null   object
 3   travel_with            1274 non-null   object
 4   total_female           1600 non-null   float64
 5   total_male             1599 non-null   float64
 6   purpose                1601 non-null   object
 7   main_activity          1601 non-null   object
 8   info_source            1601 non-null   object
 9   tour_arrangement       1601 non-null   object
 10  package_transport_int  1601 non-null   object
 11  package_accomodation   1601 non-null   object
 12  package_food           1601 non-null   object
 13  package_transport_tz   1601 non-null   object
 14  package_sightseeing    1601 non-null   object
 15  package_guided_tour    1601 non-null   object
 16  package_insurance      1601 non-null   object
 17  night_mainland         1601 non-null   int64
 18  night_zanzibar         1601 non-null   int64
 19  payment_mode           1601 non-null   object
 20  first_trip_tz          1601 non-null   object
 21  most_impressing        1490 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 275.3+ KB

# EDA

In [16]:
#replacing the nan values in the travel_with column of the training data with Alone

train_data['travel_with'] = train_data['travel_with'].replace(np.nan, 'Alone')

In [17]:
#replacing the nan values in the total_female column of the training data with 1.0

train_data['total_female'] = train_data['total_female'].replace(np.nan, 1.0)

In [18]:
#replacing the nan values in the total_male column of the training data with 1.0

train_data['total_male'] = train_data['total_male'].replace(np.nan, 1.0)

In [19]:
#replacing the nan values in the most_impressing column of the training data with No comments

train_data['most_impressing'] = train_data['most_impressing'].replace(np.nan, 'No comments')

In [20]:
#replacing the nan values in the travel_with column of the testing data with Alone

test_data['travel_with'] = test_data['travel_with'].replace(np.nan, 'Alone')

In [21]:
#replacing the nan values in the total_female column of the testing data with 1.0

test_data['total_female'] = test_data['total_female'].replace(np.nan, 1.0)

In [22]:
#replacing the nan values in the total_male column of the testing data with 1.0

test_data['total_male'] = test_data['total_male'].replace(np.nan, 1.0)

In [23]:
#replacing the nan values in the most_impressing column of the testing data with No comments

test_data['most_impressing'] = test_data['most_impressing'].replace(np.nan, 'No comments')

In [24]:
#replacing 24-jan to 1-24 to correlate with 

test_data['age_group'] = test_data['age_group'].replace('24-Jan', '1-24')

In [25]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from xgboost import XGBRegressor

In [26]:
train_data['train'] = 1
test_data['train'] = 0

In [27]:
full_data = pd.concat([train_data.drop(['ID', 'total_cost'], axis = 1),test_data.drop('ID', axis=1)]).reset_index (drop = True)

In [28]:
full_data.head()

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,train
0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,No,...,No,No,No,No,13.0,0.0,Cash,No,Friendly People,1
1,UNITED KINGDOM,25-44,Alone,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,No,...,No,No,No,No,14.0,7.0,Cash,Yes,"Wonderful Country, Landscape, Nature",1
2,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,No,...,No,No,No,No,1.0,31.0,Cash,No,Excellent Experience,1
3,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,No,...,Yes,Yes,Yes,No,11.0,0.0,Cash,Yes,Friendly People,1
4,CHINA,1-24,Alone,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,No,...,No,No,No,No,7.0,4.0,Cash,Yes,No comments,1

In [29]:
categorical_col = ['country', 'age_group', 'travel_with', 'purpose', 'main_activity', 'info_source',
       'tour_arrangement', 'package_transport_int', 'package_accomodation',
       'package_food', 'package_transport_tz', 'package_sightseeing',
       'package_guided_tour', 'package_insurance', 'payment_mode', 'first_trip_tz', 'most_impressing']

In [30]:
for col in categorical_col:
    lab = LabelEncoder()#CountEncoder(normalize=True)
    lab.fit(full_data[col])
    full_data[col] = lab.transform(full_data[col])

In [31]:
full_data.head()

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,train
0,101,2,2,1.0,1.0,1,7,0,0,0,...,0,0,0,0,13.0,0.0,0,0,2,1
1,111,1,0,1.0,0.0,1,3,7,0,0,...,0,0,0,0,14.0,7.0,0,1,6,1
2,111,1,0,0.0,1.0,5,3,0,0,0,...,0,0,0,0,1.0,31.0,0,0,1,1
3,111,1,3,1.0,1.0,1,7,5,1,0,...,1,1,1,0,11.0,0.0,0,1,2,1
4,17,0,0,1.0,0.0,1,7,5,0,0,...,0,0,0,0,7.0,4.0,0,1,4,1

In [32]:
train_set = full_data[full_data.train == 1]
test_set = full_data[full_data.train == 0]

In [33]:
train_set =  train_set.drop('train',axis = 1)
test_set =  test_set.drop('train',axis = 1)

In [34]:
X = train_set
#.drop(['most_impressing','total_male','info_source','main_activity','package_accomodation',
 #                   'payment_mode','purpose','package_insurance','first_trip_tz','package_transport_int',
  #                  'package_sightseeing','package_transport_tz','package_guided_tour','package_food'],axis=1)
y = train_data['total_cost']

In [35]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [36]:
#model = RandomForestRegressor(n_estimators = 700, random_state = 42)
model = XGBRegressor(n_estimator=500, learning_rate=0.05, n_jobs=4)

In [37]:
model.fit(X_train,y_train)

[23:14:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(learning_rate=0.05, n_estimator=500, n_jobs=4)

In [38]:
pred = model.predict(X_test)

In [39]:
print(mean_absolute_error(y_test, pred))

4930794.215807952

In [43]:
test =  test_set
test_pred =  model.predict(test)

submission['total_cost'] = test_pred
submission.to_csv('GodwithusTourPred1.csv',index =  False)

In [41]:
#checking feature importance to drop columns

feature_importances = pd.DataFrame(model.feature_importances_,
                                  index=X_train.columns,
                                  columns=['Importance']).sort_values('Importance', ascending=False)

In [42]:
feature_importances

                       Importance
tour_arrangement         0.414703
package_accomodation     0.303889
package_transport_tz     0.082537
package_transport_int    0.041490
travel_with              0.029427
package_sightseeing      0.012902
age_group                0.012806
total_male               0.012806
total_female             0.011741
country                  0.009939
night_zanzibar           0.009103
night_mainland           0.008253
most_impressing          0.007867
payment_mode             0.007636
info_source              0.007315
first_trip_tz            0.006676
purpose                  0.005265
package_food             0.005144
main_activity            0.004808
package_insurance        0.004222
package_guided_tour      0.001474